<% extend 'layout.html' %>
<div>
search: <input class="codesniper" type="text" id="search" /><input class="codesniper" type="button" name="submit" value="Search" onclick="search();" />
<br />

  filename: <input class="codesniper" type="text" id="filename" /><br />
  <pre id="editor">
  function clog( data ) { console.log( inspect( data, { colors: true, depth: null, showHidden: true }) ); }
  </pre>  

  <input class="codesniper" type="button" name="submit" value="GO" onclick="submit_code();" />
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/clouds_midnight");
  editor.getSession().setMode("ace/mode/javascript");
  editor.setKeyboardHandler("ace/keyboard/vim");
  editor.setShowPrintMargin(false);

  function submit_code() {

    var filename = $('#filename').val();
    $.post("/add",{ "src": editor.getValue(), "filename": filename }, function () { 
      $('<div />').html('Success').dialog({ title: 'Created '+filename });
    });

  }


  function search() {
    var search_term = $('#search').val();
    
    $.post("/search/"+search_term, function () {
      $('<div />').html('Success').dialog({ title: 'Searching for '+search_term });
    });

  }



</script>


 

</div>
