<% extend 'layout.html' %>
<div>
<script>

var ttl_editors = 0;




function search( ) {

  var self = this;

  var keyword = $('#search').val();

  if( window.XMLHttpRequest ) {
    self.requestObject = new XMLHttpRequest();
  } 

  self.requestObject.open('GET', 'search?q='+keyword, true);
  self.requestObject.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  self.requestObject.onreadystatechange = function () {
    if ( self.requestObject.readyState == 4 ) {
      //console.log(self.requestObject.responseText);
      var response = JSON.parse(self.requestObject.responseText);
      for( var file in response ) {
        for( var hit in response[file].context ) {

          var editorID =  'editor'+(ttl_editors++);

          var editors = document.getElementById('editors');
          var context = response[file].context[hit];
          var pre = document.createElement("pre");
          

          pre.setAttribute( 'id', editorID); 
          document.getElementById('editors').appendChild(pre);

          var editor = ace.edit(editorID);
          editor.setTheme("ace/theme/clouds_midnight");
          editor.getSession().setMode("ace/mode/javascript");
          editor.getSession().setUseWrapMode(true);
          editor.setKeyboardHandler("ace/keyboard/vim");
          editor.setShowPrintMargin(false);

          var dox = editor.getSession().getDocument();

          //dox.insertLines(Object.keys(context)[0],context);

          //editor.setValue(JSON.stringify(context));
          for( var i in context ) {
            console.log(context[i]);
            dox.insertLines(i,new Array(context[i]));
          } // for each context line
          editor.setStyle('sresult');
          editor.setReadOnly(true);
          editor.resize();

        } // for each context hit
        
      } // for each file

    } // on readyState
  }
  self.requestObject.send('');
}






</script>
search: <input class="codesniper" type="text" id="search" /><input class="codesniper" type="button" name="submit" value="Search" onclick="search();" />
<br />

  filename: <input class="codesniper" type="text" id="filename" /><br />
  <div id="editors"></div>


  <input class="codesniper" type="button" name="submit" value="GO" onclick="submit_code();" />
  <script>
  /*
  <pre id="editor">
  function clog( data ) { console.log( inspect( data, { colors: true, depth: null, showHidden: true }) ); }
  </pre>  
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/clouds_midnight");
  editor.getSession().setMode("ace/mode/javascript");
  editor.setKeyboardHandler("ace/keyboard/vim");
  editor.setShowPrintMargin(false);
  */


  function submit_code() {

    var filename = $('#filename').val();
    $.post("/add",{ "src": editor.getValue(), "filename": filename }, function () { 
      $('<div />').html('Success').dialog({ title: 'Created '+filename });
    });

  }

  /*
  function search() {
    var search_term = $('#search').val();
    
    $.post("/search/"+search_term, function () {
      $('<div />').html('Success').dialog({ title: 'Searching for '+search_term });
    });

  }
  */
  </script>


 

</div>
